.services {
    &__title {
        margin-bottom: 60px;
    }

    &__item-box {
        padding-bottom: 60px;
    }

    &__item {
        margin-top: 30px;
    }

    &__item-pic {
        margin-bottom: 30px;
    }

    &__item-title {
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: $color-active-regular;
        padding-bottom: 15px;
    }

    &__item-text {
        font-size: 16px;
        line-height: 26px;
        color: $color-white;
    }
}

@media (min-width: 768px) {
    .services {
        &__item-box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 60px;
        }

        &__item {
            margin-top: 0;
        }
    }
}

@media (min-width: 1024px) {
    .services {
        &__item-box {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
}
