.solutions {
    margin-top: 182px;
    text-align: center;

    &__title {
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        color: $color-white;
        margin-bottom: 159px;
    }

    &__btn {
        cursor: pointer;
        background: transparent;
        border: none;
        margin-bottom: 60px;

        &:hover circle {
            stroke: $color-accent;
            opacity: 0.5;
        }

        &:hover path {
            stroke: $color-accent;
        }
    }

    &__btn circle,
    path {
        transition-duration: 0.5s;
        transition-property: stroke, opacity;
    }
}
