.title {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    background: $color-gradient-sred-text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 30px;
}
